<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jobplatform.fo.board.mapper.BoardAnswerMapper">

<!-- BoardAnswerEntity와 데이터베이스 결과 매핑 -->
<resultMap id="BoardAnswerResultMap" type="jobplatform.fo.board.entity.BoardAnswerEntity">
    <id property="answrSq" column="answr_sq" /> <!-- 답변 순번 -->
    <result property="atchmntSq" column="atchmnt_sq" /> <!-- 첨부파일 순번 -->
    <result property="brdSq" column="brd_sq" /> <!-- 게시판 순번 -->
    <result property="mbrSq" column="mbr_sq" /> <!-- 회원 순번 -->
    <result property="entrprsSq" column="entrprs_sq" /> <!-- 기업 순번 -->
    <result property="answrTtl" column="answr_ttl" />   <!-- 답변 제목 -->
    <result property="answrCntnt" column="answr_cntnt" />   <!-- 답변 내용 -->
    <result property="answrHits" column="answr_hits" /> <!-- 답변 조회수 -->
    <result property="answrRcmndtns" column="answr_rcmndtns" /> <!-- 답변 추천수 -->
    <result property="answrNotRcmndtns" column="answr_not_rcmndtns" /> <!-- 답변 비추천수 -->
    <result property="answrSlctnYn" column="answr_slctn_yn" />  <!-- 답변 채택 여부  -->
    <result property="insrtDtm" column="insrt_dtm" />   <!-- 등록 일시 -->
    <result property="updtDtm" column="updt_dtm" /> <!-- 수정 일시 -->
    <result property="dltDtm" column="dlt_dtm" />   <!-- 삭제 일시 -->
    <result property="dltYn" column="dlt_yn" /> <!-- 삭제 여부 -->
</resultMap>

<!-- 답변 삽입 -->
<insert id="insertOne" parameterType="jobplatform.fo.board.entity.BoardAnswerEntity" useGeneratedKeys="true" keyProperty="answrSq">
INSERT INTO P3_TBL_BOARD_ANSWER (
    atchmnt_sq,
    brd_sq,
    mbr_sq,
    entrprs_sq,
    answr_ttl,
    answr_cntnt,
    insrt_dtm
) VALUES (
    #{atchmntSq},
    #{brdSq},
    #{mbrSq},
    #{entrprsSq},
    #{answrTtl},
    #{answrCntnt},
    NOW()
)

</insert>

<select id="checkAnswer" resultType="int">
    SELECT COUNT(*)
    FROM P3_TBL_BOARD_ANSWER
    WHERE brd_sq = #{brdSq} AND answr_slctn_yn = 'Y';
</select>


<select id="countAnswer" resultType="int">
    SELECT COUNT(*)
    FROM P3_TBL_BOARD_ANSWER
    WHERE brd_sq = #{brdSq} and dlt_yn = 'N'
</select>


<select id="findAll" parameterType="map" resultMap="BoardAnswerResultMap">
    SELECT 
    a.*,
    COALESCE(m.mbr_id, e.entrprs_id) AS createdBy    
    FROM P3_TBL_BOARD_ANSWER a
    LEFT JOIN
    p3_tbl_member_m m ON a.mbr_sq = m.mbr_sq
    LEFT JOIN
    p3_tbl_enterprise_member_m e ON a.entrprs_sq = e.entrprs_sq
    WHERE brd_sq = #{brdSq} and a.dlt_yn = 'N'
    ORDER BY answr_slctn_yn DESC, a.answr_rcmndtns DESC, a.answr_sq DESC
    LIMIT #{page}, #{size}
</select>

<select id="answer" parameterType="int" resultMap="BoardAnswerResultMap">
    select a.*,
    coalesce(m.mbr_id, e.entrprs_id) as createdBy
    from p3_tbl_board_answer a
    left join
    p3_tbl_member_m m ON a.mbr_sq = m.mbr_sq
    LEFT JOIN
    p3_tbl_enterprise_member_m e ON a.entrprs_sq = e.entrprs_sq
    where a.answr_sq = #{answrSq}
</select>

<update id="updateHits">
    UPDATE P3_TBL_BOARD_ANSWER
    SET
    answr_hits = answr_hits + 1
    WHERE
    answr_sq = #{answrSq}
</update>

<update id="updateRcmndtns">
    UPDATE P3_TBL_BOARD_ANSWER
    SET
    answr_rcmndtns = answr_rcmndtns + #{value}
    WHERE
    answr_sq = #{answrSq}
</update>

<update id="updateNotRcmndtns">
    UPDATE P3_TBL_BOARD_ANSWER
    SET
    answr_not_rcmndtns = answr_not_rcmndtns + #{value}
    WHERE
    answr_sq = #{answrSq}
</update>

<insert id="insertRecommendation" useGeneratedKeys="true" >
    INSERT INTO P3_TBL_BOARD_ANSWER_RECOMMENDATION(
        answr_sq,
        mbr_sq,
        rcmndtns_dtm
    ) VALUES (
        #{answrSq},
        #{mbrSq},
        NOW()
    )
</insert>

<insert id="insertNotRecommendation" useGeneratedKeys="true" >
    INSERT INTO P5_TBL_BOARD_ANSWER_NOTRECOMMENDATION(
        answr_sq,
        mbr_sq,
        notrcmndtns_dtm
    ) VALUES (
        #{answrSq},
        #{mbrSq},
        NOW()
    )
</insert>

<select id="checkRecommendation">
    SELECT COUNT(*) FROM P3_TBL_BOARD_ANSWER_RECOMMENDATION
    WHERE answr_sq = #{answrSq} and mbr_sq = #{mbrSq}
</select>

<select id="checkNotRecommendation">
    SELECT COUNT(*) FROM P5_TBL_BOARD_ANSWER_NOTRECOMMENDATION
    WHERE answr_sq = #{answrSq} and mbr_sq = #{mbrSq}
</select>

<delete id="deleteRecommendation">
    DELETE FROM P3_TBL_BOARD_ANSWER_RECOMMENDATION
    where answr_sq = #{answrSq} and mbr_sq = #{mbrSq}
</delete>

<delete id="deleteNotRecommendation">
    DELETE FROM P5_TBL_BOARD_ANSWER_NOTRECOMMENDATION
    where answr_sq = #{answrSq} and mbr_sq = #{mbrSq}
</delete>

<update id="selectRecommendation">
    UPDATE P3_TBL_BOARD_ANSWER
    SET answr_slctn_yn = 'Y'
    WHERE answr_sq = #{answrSq}
</update>

<update id="updateBoardCondition">
    UPDATE P3_TBL_BOARD
    SET brd_cndtn = 'Y'
    WHERE brd_sq = #{brdSq}
</update>


<update id="deleteAnswer">
    UPDATE P3_TBL_BOARD_ANSWER
    SET dlt_yn = 'Y',
    dlt_dtm = NOW()
    WHERE answr_sq = #{answrSq}
</update>

<update id="editAnswer">
    UPDATE P3_TBL_BOARD_ANSWER
    SET 
    answr_ttl = #{answrTtl},
    answr_cntnt = #{answrCntnt},
    updt_dtm = NOW()
    WHERE
    answr_sq = #{answrSq}

</update>

</mapper>



